# SESION #5 - TIPOS DE DATOS
## NUMEROS ENTEROS

In [3]:
# Numeros Enteros
# Valor 10 Entero
print (10)
print ( type (10) )

# Variable 100 Entero
variable = 100
print (variable)
print ( type (variable) )

# Valor 10 en base decimal
print ("Base decimal")
print (10)
# Valor 10 en binario
print ("Base binaria")
print (0b1010)
# Valor 10 en octal
print ("Base octal")
print (0o12)
# Valor 10 en hexadecimal
print ("Base hexadecimal")
print (0xa)

10
<class 'int'>
100
<class 'int'>
Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

## NUMEROS FLOTANTES

In [ ]:
# NUMERO FLOTANTE
# Valor 0.5 Flotante
print (0.5)
print ( type (0.5) )

# Variable 0.100546 Flotante
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )

# Valor 2.0e-3 Flotante
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

## OPERACIONES COMPLEJAS

In [ ]:
print("Un contador tiene 300 minutos y se le suman 3600 segundos, ¿Cuántas horas en total son?")
minutos = 300
segundos = 3600
min_adic = segundos / 60
t_min = segundos + min_adic
horas = t_min / 60
print("Total de horas:", horas,"horas")

## OPERACIONES DE COMPARACIÓN
### Numeros enteros

In [ ]:
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)

### Números Flotantes

In [ ]:
#Flotante
print ("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)